:root {
  --gray: #434343;
  --light-gray: #f3f3f3;
  --orange: rgb(223, 119, 57);
  --radius: 0.25rem;
}

body {
  font-family: Helvetica, sans-serif;
  background-color: var(--light-gray);
  margin: 0;
}
